[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pylint-fail-under = "*"

[packages]
uvicorn = "*"
fastapi = "*"
aiohttp = "*"
cchardet = "*"
aiodns = "*"
beautifulsoup4 = "*"
lxml = "*"
uvloop = "*"
envcast = "*"
xxhash = "*"
orjson = "*"
aiofile = "*"
aiofiles = "*"
aiokafka = "*"

[requires]
python_version = "3.8"
